$font-stack: Helvetica, sans-serif;
$bgcolor: #e2e6e8;
$header-text-color: #0c4160;
$card-img-ht: 200px;
$card-color: #0c4160;
$card-btn-color: #aea885;
$card-btn-text: #0c4160;
$carousel-img-ht: 80vh;
$description-bgcolor: antiquewhite;
