@use 'base';

body {
  background-color: base.$bgcolor;
  font-family: base.$font-stack;
}

.card {
  border-color: base.$card-color;
  img {
    height: base.$card-img-ht;
  }
  .card-body {
    background-color: base.$card-color;
    a {
      background-color: base.$card-btn-color;
      border-color: base.$card-btn-color;
      h5 {
        color: base.$card-btn-text;
      }
    }
  }
}
.carousel {
  .carousel-inner {
    .carousel-item {
      img {
        height: 80vh;
      }
    }
  }
}
.container {
  #description {
    background-color: base.$description-bgcolor;
  }
}
